@import "./shop.css";
body {
    background-image: url("https://store-images.s-microsoft.com/image/apps.29972.14474337564596307.6c783b22-9460-4205-938c-2969961ed85c.aa21aff2-b2b2-411b-88bb-158187c6e238?mode=scale&q=90&h=1080&w=1920");
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

header {
    background-color: antiquewhite;
    border-bottom: 2px solid rgb(88, 41, 7);
    color: rgb(88, 41, 7);
    display: inline-block;
    font-size: 2em;
    margin-bottom: 0.5em;
    padding: 0.5em 2em;
    text-align: center;
}

#header {
    text-align: center;
}

.hide-me {
    visibility: hidden;
}

#see-places {
    position: relative;
}

.shop {
    border: 4.5px double bisque;
    flex-basis: 15%;
    margin: 0.5em;
    padding: 0.25em;
    min-width: 150px;
}

#sleepy-coffee {
    margin-top: 3em;
}

#wake-me {
    color: bisque;
    font-size: 30px;
    left: 129px;
    position: absolute;
    top: 209px;
}