.email_icon {
    height: 2em;
}

.menu_icon {
    height: 2em;
}

.shop {
    background-color: burlywood;
    color: rgb(134, 63, 12);
    min-height: 150px;
    position: relative;
    text-align: center;
}

.shop__address {
    margin-bottom: 0px;
    margin-top: 10px;
}

.shop__links {
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 97%;
}

.shop__name {
    margin-bottom: 0px;
    margin-top: 0.5em;
}

.shop__phone {
    margin-top: 0px;
}